.op_wiseapp_icon_down {
    background-position: -2px -18px;
}
.op_wiseapp_icon_down, .op_wiseapp_icon_mobile {
    margin-right: 0;
    width: 13px;
    height: 13px;
    vertical-align: text-top;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

#op_wiseapp_dltopc {
    display: inline-block;
    padding: 0 19px;
    margin: 5;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    filter: chroma(color=#000000);
    overflow: visible;
    background-color: #f9f9f9;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    text-decoration: none;
    color: #fff!important;
    background-color: #388bff;
    border-color: #3c8dff #408ffe #3680e6;
}
#op_wiseapp_dltopc2 {
    display: inline-block;
    padding: 0 19px;
    margin: 5;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    filter: chroma(color=#000000);
    overflow: visible;
    background-color: #f9f9f9;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    text-decoration: none;
    color: #fff!important;
    background-color: #388bff;
    border-color: #3c8dff #408ffe #3680e6;
}
a2:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: #fff!important;
}

.op_wiseapp_icon_down {
    background-position: -2px -18px;
}
.op_wiseapp_icon_down, .op_wiseapp_icon_mobile {
    margin-right: 0;
    width: 13px;
    height: 13px;
    vertical-align: text-top;
}
.op_wiseapp_icon_down, .op_wiseapp_icon_mobile, .op_wiseapp_icon_safe {
    margin-right: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    font-style: normal;
    overflow: hidden;
    background: url(//sp3.baidu.com/84oIbT3kAMgDnd_/static/as/images/pcala_icons2.png) no-repeat 0px -17px;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}